<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>MapWiki</title>
</head>Theming the navbar has never been easier thanks to the
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/urls">MapWiki</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My Maps</a>
          <a class="nav-item nav-link" href="/urls/new">Create New Map</a>
          <a class="nav-item nav-link" href="/urls/new">Browse Maps</a>
        </div>
      </div>
      </nav>
    </header>
    <!--Google map API -->
    <div id="map" style="width:100%;height:400px;"></div>
    <script src="map.js"></script>
    <!--End Google map API -->
  <!-- <main style="margin: 1em;">
    <h3>My Maps</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Map</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <th scope="col">Favourite</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><a href=/urls/ url %></a></td>
            <td>
              <form method="GET" action='/urls/<%= url %>'>
                <button class='btn btn-outline-info'>
                  Edit
                </button>
              </form>
            </td>
            <td>
              <form method="POST" action='/urls/<%= url %>/delete'>
                <button class='btn btn-outline-danger'>
                  Delete
                </button>
              </form>
            </td>
            <td>
              <form method="POST" action='/urls/<%= url %>/delete'>
                <button class='btn btn-outline-success'>
                  Favourite
                </button>
              </form>
            </td>
          </tr>
      </tbody>
    </table>
  </main> -->
 -->


  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
